[Unit]
Description=Nginx load balancer for web server backends

# Requirements
Requires=etcd2.service
Requires=docker.service

# Dependency ordering
After=etcd2.service
After=docker.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill nginx_fd
ExecStartPre=-/usr/bin/docker rm nginx_fd
#ExecStartPre=/usr/bin/docker pull corse/nginx
ExecStart=/usr/bin/docker run --name nginx_fd -p ${COREOS_PUBLIC_IPV4}:80:80 \
-p ${COREOS_PUBLIC_IPV4}:443:443 --env HOST_IP=${COREOS_PRIVATE_IPV4:-32.2.2.2} \
corse/nginx /usr/local/bin/confd-watch

# Stop
ExecStop=/usr/bin/docker stop nginx_fd

[X-Fleet]
Conflicts=nginx.service
Conflicts=apache@*.service
